parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    level: 8
    parallel:
        maximumNumberOfProcesses: 4
    fileExtensions:
        - php
